@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
  background-color: none;
  background: none;
  box-sizing: border-box;
  user-select: none;
}


.l_blur{
  background: linear-gradient(168.99deg, rgba(170, 95, 52, 1) 45.27%, rgba(97, 50, 24, 0.1) 109.82%);
  filter: blur(50px);
  border-radius: 100px;
}

.r_blur{
  background: linear-gradient(187.89deg, rgb(108, 38, 22, 0.5) 75.44%, rgba(24, 4, 0, 0.1) 108.82%);
  filter: blur(50px);
  border-radius: 100px;
  
}

.btn_blur{
  box-shadow: -8px -4px 26px -9px rgba(192, 160, 143, 0.33), 3px 10px 26px -9px rgba(0, 0, 0, 0.7);
}

[data-show="true"] {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 20rem;

  background-color: #2B2B2B;

  border-top: 1px solid #91ada4c7;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;

  position: fixed;
  bottom: 0;
  left: 0;

  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

[data-show="false"] {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 6rem;

  background-color: #2B2B2B;

  border-top: 1px solid #91ada4c7;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;

  position: fixed;
  bottom: 0;
  left: 0;

  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;

  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5)
}


span{
  color: #fff;
  width: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked ~ span{
  background-color: #D36E35;
}